body {
  margin: 15px;
  padding: 0;
}


.robot::after {
  font-style: italic;
  color: #ccc;
  content: " {{robot-append01}}"
}

.red-back {
  background-color: #c7243f;
  color: #fff;
  margin: 30px;
  padding: 30px;
  text-align: center;
}

.red-back > div::after {
  content: " ({{red-back-append01}})"
}