<div id="title">
  <h1 data-istrans="true" data-trans-id="title1">
    Hello World!!f2
  </h1>
  
  <div>
    Welcome to jhchoi07
  </div>

  <ul>
    <li class="robot" data-istrans='true' data-trans-id='ul01'>
      I'm a robot
    </li>
    <li>I like apple</li>
    <li>I don't like oil</li>
  </ul>

  <div>
    <h4>Click button make alert</h4>
    <button id="button1">Alert!</button>
    <button id="button2">Get API Data</button>
  </div>

  <div>
    <h4>Change Lang</h4>
    <button class="change-lang" data-lang="ko-kr">한국어</button>
    <button class="change-lang" data-lang="en-us">영어</button>
  </div>

  <div class="red-back">
    <h2 data-istrans="true" data-trans-id="message02">I'll Destroy all world!!!</h2>
  </div>

  <div class="red-back">
    <div data-istrans="true" data-trans-id="help01">
      this "message03" is not exist in dictionary.
    </div>
    <h2 data-istrans="true" data-trans-id="message03">I'll Destroy Computer!!! </h2>
    <div data-istrans="true" data-trans-id="help02">
      So translate will failed and show original message.
    </div>
  </div>
  
</div>